<section id="tablesDogs" class="mb-5">
  <div class="row d-flex">
    <div class="col">
      <!-- /Intro text -->
      <div id="tableCalc" class="mb-3">
        <div id="age-size-food" class="d-flex age-size-food my-3">
          <div class="box-option-racionamiento">
            <label for="numeri_eta">
              <p class="text-over-racionamiento">Indica su edad:</p>
            </label>
            <select class="value-racionamiento" name="numeri_eta" id="numeri_eta"></select>
          </div>
          <div class="box-option-racionamiento">
            <label for="numeri_pesi">
              <p class="text-over-racionamiento">Indica su peso:</p>
            </label>
            <select class="value-racionamiento" name="numeri_pesi" id="numeri_pesi"></select>
          </div>

          <div class="box-option-racionamiento">
            <label for="numer_pesi">
              <p class="text-over-racionamiento">Indica su peso adulto:</p>
            </label>
            <select class="value-racionamiento" name="numer_pesi" id="numer_pesi"></select>
          </div>
          <div class="box-option-racionamiento">
            <label for="numeri_pasti">
              <p class="text-over-racionamiento">N° comidas diarias:</p>
            </label>
            <select class="value-racionamiento" name="numeri_pasti" id="numeri_pasti"></select>
          </div>
        </div>
        <!-- Get first values: age, size and food -->

        <button
          id="calculator"
          class="btn shadow-none d-flex justify-content-center obiettivo-box border-0 rounded-5 py-4 px-5 my-3"
        >
          Calcular racionamiento
        </button>
        <!-- BTN - calcolator -->
      </div>
      <!-- /Table -->
      <div id="tableResult" class="d-none shadow-none">
        <h4 class="text-center p-3 obiettivo-box fw-bold border-top-4 mb-2 ps-0 fs-2">Racionamiento Diario</h4>
        <row class="row-result d-flex w-100 pb-4" style="max-width:700px">
          <div id="cantidaddiaria" class="box-option-racionamiento resultados text-center py-4">
            <div id="calcolo" class="value-racionamiento text-center fs-1"></div>
            <div id="testo-razionamento" class="text-over-racionamiento"></div>
          </div>
          <div id="gPasto" class="box-option-racionamiento text-center py-4 resultados">
            <div id="grammi" class="value-racionamiento text-center fs-1"></div>
            <div id="testo-grammi" class="text-over-racionamiento"></div>
          </div>
        </row>
        <button
          id="changes"
          class="btn d-flex justify-content-center shadow-none obiettivo-box border-0 rounded-5 py-4 px-5 my-3"
        >
          Cambiar parametros
        </button>
        <!-- BTN - changes values -->
      </div>
    </div>
    <!-- /.col tables -->
  </div>
  <div id="table_product"></div>
</section>

<!-- /#tablescats -->

<script>// Bulding tables

// TABLES PRODUCTS
// 1. Age:
let numeri_eta = [];

for (let i = 1; i <= 20; i++) {
  numero = i; // - numeri da 1 a 200.
  numeri_eta.push(numero); // - Inserisco nell'array i numeri.
}

let age = document.getElementById("numeri_eta");

numeri_eta.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  age.insertAdjacentHTML("beforeend", memberMarkup);
});

// 2. Size:
let numeri_pesi = [];

for (let i = 1; i <= 50; i++) {
  const numero = i; // - numeri da 1 a 100.
  numeri_pesi.push(numero); // - Inserisco nell'array i numeri.
}

let size = document.getElementById("numeri_pesi");

numeri_pesi.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  size.insertAdjacentHTML("beforeend", memberMarkup);
});

// 3. Food:
let numeri_pasti = [];

for (let i = 1; i <= 4; i++) {
  numero = i; // - numeri da 1 a 100.
  numeri_pasti.push(numero); // - Inserisco nell'array i numeri.
}

let food = document.getElementById("numeri_pasti");

numeri_pasti.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  food.insertAdjacentHTML("beforeend", memberMarkup);
});

// 4. Size:
let numer_pesi = [];

for (let i = 1; i <= 100; i++) {
  const numero = i; // - numeri da 1 a 100.
  numer_pesi.push(numero); // - Inserisco nell'array i numeri.
}

let sizeAdult = document.getElementById("numer_pesi");

numer_pesi.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  sizeAdult.insertAdjacentHTML("beforeend", memberMarkup);
});

// BTN - CALCULATION

const btn_calculator = document.getElementById("calculator");

btn_calculator.addEventListener("click", getValue);

function getValue() {
  document.getElementById("tableCalc").classList.add("d-none");
  document.getElementById("tableCalc").classList.remove("shadow");
  document.getElementById("tableResult").classList.add("d-display");
  document.getElementById("tableResult").classList.remove("d-none");

  // STUFF
  let kcal = {{ product.metafields.custom.kcal }};
  let vrP = 110;
  

  // % CALCOLATE
  let percentual = (100 * size.value) / sizeAdult.value;

  // CONDITIONS
  if (percentual <= 50) {
    vrP = 210;
  } else if (percentual <= 80) {
    vrP = 175;
  } else if (percentual <= 100) {
    vrP = 140;
  }

  // Logic
  let calcolateDiaria = Math.round(
    ((vrP * Math.pow(size.value, 0.75)) / kcal) * 1000
  );
  console.log(calcolateDiaria);

  let dividedPasti = parseInt(calcolateDiaria / food.value);
  console.log(dividedPasti);

  // Front view
      document.getElementById('calcolo').innerHTML = `${calcolateDiaria}`;
      document.getElementById('testo-razionamento').innerHTML = `{{- 'products.product.cantidad_diaria_recomendada' | t -}}`;
      document.getElementById('grammi').innerHTML = `${dividedPasti} gr` ;
      document.getElementById('testo-grammi').innerHTML = `{{- 'products.product.por_cada_racion' | t -}}` ;
}

// BTN - CHANGES
const btn_changes = document.getElementById("changes");

btn_changes.addEventListener("click", getChanges);

function getChanges() {
  document.getElementById("tableCalc").classList.remove("d-none");
  document.getElementById("tableResult").classList.add("d-none");
}
</script>
