<section id="tablesDogs" class="mb-5">
  <div class="row d-flex">
    <!-- /.col img -->
    <div class="col">
      <!-- /Intro text -->
      <div id="tableCalc" class="mb-3">
        <div class="d-flex age-size-food my-3">
          <div class="box-option-racionamiento">
            <label for="numer_eta">
              <p class="text-over-racionamiento">Indica su edad:</p>
            </label>
            <select class="value-racionamiento" name="numer_eta" id="numer_eta"></select>
          </div>
          <div class="box-option-racionamiento">
            <label for="numer_pesi">
              <p class="text-over-racionamiento">Indica su peso:</p>
            </label>
            <select class="value-racionamiento" name="numer_pesi" id="numer_pesi"></select>
          </div>
          <div class="box-option-racionamiento">
            <label for="numer_pasti">
              <p class="text-over-racionamiento">N° comidas diarias:</p>
            </label>
            <select class="value-racionamiento" name="numer_pasti" id="numer_pasti"></select>
          </div>
        </div>

        <!-- Get first values: age, size and food -->
        <button
          id="calculator"
          class="btn shadow-none d-flex justify-content-center obiettivo-box border-0 rounded-5 py-4 px-5 my-3"
        >
          Calcular racionamiento
        </button>
        <!-- BTN - calcolator -->
      </div>
      <!-- /Table -->
      <div id="tableResult" class="d-none shadow-none">
        <h4 class="text-center p-3 obiettivo-box fw-bold border-top-4 mb-2 ps-0 fs-2">Racionamiento Diario</h4>
        <row class="row-result d-flex w-100" style="max-width:700px">
          <div id="cantidaddiaria" class="box-option-racionamiento resultados me-1 text-center py-4">
            <div id="calcolo" class="value-racionamiento text-center fs-1"></div>
            <div id="testo-razionamento" class="text-over-racionamiento"></div>
          </div>
          <div id="gPasto" class="box-option-racionamiento ms-1 text-center py-4 resultados">
            <div id="grammi" class="value-racionamiento text-center fs-1"></div>
            <div id="testo-grammi" class="text-over-racionamiento"></div>
          </div>
        </row>
        <button
          id="changes"
          class="btn d-flex justify-content-center shadow-none obiettivo-box border-0 rounded-5 py-4 px-5 my-3"
        >
          Cambiar parametros
        </button>
        <!-- BTN - changes values -->
      </div>
    </div>
    <!-- /.col tables -->
  </div>
  <div id="table_product"></div>
</section>

<!-- /#tablescats -->

<script>// Bulding tables

// TABLES PRODUCTS
// 1. Age:
let numeri_eta = [];

for (let i = 1; i <= 12; i++) {
  numero = i; // - numeri da 1 a 200.
  numeri_eta.push(numero); // - Inserisco nell'array i numeri.
}

let age = document.getElementById("numer_eta");

numeri_eta.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  age.insertAdjacentHTML("beforeend", memberMarkup);
});

// 2. Size:
let numeri_pesi = [];

numeri_pesi.push(0.5)
  
for (let i = 1; i <= 8; i++) {
  const numero = i; // - numeri da 1 a 100.
  numeri_pesi.push(numero); // - Inserisco nell'array i numeri.
}

let size = document.getElementById("numer_pesi");

numeri_pesi.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  size.insertAdjacentHTML("beforeend", memberMarkup);
});

// 3. Food:
let numeri_pasti = [];

for (let i = 1; i <= 4; i++) {
  numero = i; // - numeri da 1 a 100.
  numeri_pasti.push(numero); // - Inserisco nell'array i numeri.
}

let food = document.getElementById("numer_pasti");

numeri_pasti.forEach((numero) => {
  const memberMarkup = ` 
    <option value="${numero}">${numero}</option>
    `;
  food.insertAdjacentHTML("beforeend", memberMarkup);
});

// BTN - CALCULATION
const btn_calculator = document.getElementById("calculator");

btn_calculator.addEventListener("click", getValue);

function getValue() {
  document.getElementById("tableCalc").classList.add("d-none");
  document.getElementById("tableCalc").classList.remove("shadow");
  document.getElementById("tableResult").classList.add("d-display");
  document.getElementById("tableResult").classList.remove("d-none");

  // STUFF
  let kcal = {{ product.metafields.custom.kcal }} // kcal to chose;


  // CONDITIONS
  if (age.value < 4) {
    vrP = 2.5;
  } else if (age.value <= 9 ) {
    vrP = 2;
  } else if (age.value <= 12) {
    vrP = 1.5;
  } 

  // LOGIC
  let calcolateDiaria = Math.round(
    (((vrP * 100) * Math.pow(size.value, 0.67)) / kcal) * 1000
  );

  console.log(calcolateDiaria);

  let dividedPasti = parseInt(calcolateDiaria / food.value);


  //FRONT VIEW
      document.getElementById('calcolo').innerHTML = `${calcolateDiaria}`;
      document.getElementById('testo-razionamento').innerHTML = `{{- 'products.product.cantidad_diaria_recomendada' | t -}}`;
      document.getElementById('grammi').innerHTML = `${dividedPasti} gr` ;
      document.getElementById('testo-grammi').innerHTML = `{{- 'products.product.por_cada_racion' | t -}}` ;

}

// BTN - EVENTLISTENER
const btn_changes = document.getElementById("changes");

btn_changes.addEventListener("click", getChanges);

function getChanges() {
  document.getElementById("tableCalc").classList.remove("d-none");
  document.getElementById("tableResult").classList.add("d-none");
}
</script>
